#pp-first-container{
    box-shadow: none;
    height: auto;
    padding: 0px;
    margin-top: 40px;
    position: relative;
}
#pp-products-info{
    padding: 10px;
    background-color: white;
    width: auto;
    /* max-width: 97.2%; */
    height: auto;
    margin-bottom: 20px;
}

.product-preview{
    /* border: 1px solid red; */
    width: 400px;
    height: auto;
    border-radius: 5px;
    
}
.product-pic-box{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(228, 226, 226);
}
.product-preview .product-pic-box img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.inside-product-info{
    /* border: 1px solid red; */
    width: 80%;
    
}
.product-info-row{
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-bottom: 10px;
    position: relative;
}
.product-info-row #store-link{
    /* border: 1px solid red; */
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
    padding: 2px;
    background-color: rgb(72, 153, 216);
    color: white;
    display: flex;
    align-self: center;
    border-radius: 5px;
}
.product-info-row s{
    color: rgb(133, 129, 129);

}
.product-info-row p{
    background-color: rgb(248, 222, 176);
    color: rgb(255, 153, 0);
    padding: 3px;
}
.product-info-row .star{
    /* border: 1px solid red; */
    position: relative;
}
.star .aft{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}
/* .product-info-row:hover .star .aft{
    display: flex;
    position: absolute;
    left: 0;
} */
.product-info-row h4{
    border: 1px solid rgb(223, 217, 217);
    width: auto;
    height: 15PX;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 17px;
    font-weight: 400;
}
.product-info-row h4:hover{
    border: 1px solid grey;
    cursor: pointer;
}
.product-info-row a img{
    margin-right: 10px;
}
.product-info-column{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(224, 222, 222);
}
.product-info-column h3{
    font-size: 18px;
    font-weight: 400;
}
#direct-link{
    color:  rgb(72, 153, 216);
    font-size: 16px;
}
#direct-link:hover{
    text-decoration: underline;
}
.addCart{
    /* border: 1px solid red; */
    background-color: rgb(0, 132, 255);
    width: 98%;
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.addCart button{
    width: 90%;
    margin-left: 10px;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.addCart:hover{
    background-color: rgb(6, 115, 217);
}
.addCart img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    
    
}
.wish{
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid red; */
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wish:hover{
    background-color: rgb(211, 234, 255);
    transition: 0.3s;
}
a .product-info-row p{
    color:  rgb(0, 132, 255);
    background-color: transparent;
}
a .product-info-row:hover{
    text-decoration: underline rgb(0, 132, 255) ;
    
}

        /* DELIVERY & RETURNS */
#pp-DandV{
    width: 270px;
    background-color: white;
    padding: 0;
    height: fit-content;
    margin-bottom: 30px;
}
#pp-DandV .head{
    /* border: 1px solid red; */
    width: auto;
    height: fit-content;
    font-size: 12px;
    display: flex;
    justify-content: start;
    padding: 5px;
    border-bottom: 1px solid rgb(221, 220, 220);
    
}
#pp-DandV .head h2{
    font-weight: 400;
}
.info-column{
    /* border: 1px solid red; */
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}
.info-column p{
    font-size: 14px;
}
.info-column p a:hover{
    text-decoration: underline;
}
.info-column h2{
    font-size: 16px;
}
.info-column select{
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(199, 195, 195);
    border-radius: 5px;
}
.info-column select:hover{
    color:rgb(0, 132, 255);
    outline: rgb(0, 132, 255);
    border: 1px solid;

}
 .pic-box{
    border: 1px solid rgb(200, 197, 197);
    border-radius: 5px;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
.info-row{
    /* border: 1px solid red; */
    display: flex;
    height: auto;
    
}
.indi{
    /* border: 1px solid red; */
    width: auto;
    padding: 10px;
    display: flex;
    align-items: center;
}
.indi:hover{
    background-color: rgb(237, 234, 234);
    p{
        font-weight: 600;
    }
}
.indi img{
    margin-left: 10px;
    margin-right: 20px;
    width: 28px;
    height: 28px;
    align-self: center;
    /* border: 1px solid red; */
}
.indi p{
    font-size: 30px;
}
.info-column #details{
    position: absolute;
    top: 0;
    right: 10px;
    color: rgb(49, 147, 234);
    font-size: 13px;
}
.info-column h2{
    font-size: 14px;
}
.info-column p{
    font-size: 13px;
}
.info-column #details:hover{
    text-decoration: underline;
}
.straight{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    
}
#left-info-straight{
   padding: 0;
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   width: 100%;
   box-shadow: none;
}
#right-info-straight{
    width: 300px;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    position: sticky;
    right: 0;
}
.product-info-column .head{
    /* border: 1px solid red; */
    /* width:100%; */
    height: fit-content;
    font-size: 14px;
    display: flex;
    justify-content: start;
    padding: 5px;
    border-bottom: 1px solid rgb(221, 220, 220);
    
    
}
.pic-details{
    /* border: 1px solid red; */
    margin-top: 40px;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 80px;
    
}
.pic-details img{
    width: 220px;
    height: 270px;
    /* border: 1px solid black; */
}
#pp-second-container{
    width: auto;
    padding: 0;
    margin-bottom: 20px;
    background-color: white;
}
.text-details{
    /* border: 1px solid red; */
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
   
}
.text-details p{
    margin-bottom: 15px;
    font-size: 15px;
}
.text-details ul{
    padding-left: 20px;
    font-size: 15px;
}
#spec-container{
    margin-bottom: 20px;
    display: flex;
    justify-content: unset;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
#spec-box{
    width: 310px;
    height: auto;
    border-radius: 5px;
    padding: 0;
    border: 1px solid rgb(167, 166, 166);
    padding-bottom: 20px;
}
#spec-box .head{
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(167, 166, 166);
}
#spec-box ul{
    margin-left: 10px;
    justify-content: center;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    
}
#spec-box .head h2{
    font-weight: 400;
}

.specific{
    display: flex;
    flex-wrap: wrap;
}
.border-bottom{
    border-bottom: 1px solid rgb(227, 224, 224);
}