.box-container{
    /* border: 1px solid red; */
    height: auto;
    width: 70%;
    display: flex;
    padding: 10px;
    /* padding-top: 10px; */
    column-gap: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px rgb(204, 203, 203);
}
.box{
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column; 
    row-gap: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgb(220, 219, 219);
}
#second-container .box{
    width:auto;
    height: auto; 
    padding: 0;
    box-shadow: none;
}
#second-container .box:hover{
   box-shadow: 1px 1px 2px 2px rgb(220, 219, 219);
   transition: 0.2s ease-in-out;
   translate: 0px -5px; 
}
#items-box{
    margin-top: 20px;
    height: auto;
    width: auto ;
    max-width: 71.3%;
    padding: 0;
    border-radius: 5px;
    flex-direction: column;
    background-color: white;
    margin-bottom: 10px;
    position: relative;
}
.header{
    /* border: 1px solid black; */
    width: auto;
    height: 40px;
    background-color: rgb(253, 86, 52);
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.image-n-text{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}
.product-box{
    /* border: 1px solid red; */
    padding-top:5px;
    display: flex;
    column-gap: 5px;
    margin: 5px;
    position: relative;
    overflow-x:auto;
    /* max-width: 100%; */
    scroll-behavior: smooth;
    scrollbar-width: 0px;
    transition: 1s ease-in-out;
}
        /* HIDDEN SCROLLBAR CSS */
.product-box::-webkit-scrollbar{
    /* width: 0px; */
    display: none;
    
}
#timer{
    position: relative;
    right: 50px;
}
.product-box .box{
    height: 300px;
    width: 175px;
    padding: 0;
    position: relative;
    row-gap: 5px;
    box-shadow: none;
}
.product-box .box:hover{
    box-shadow: 0px 0px 6px 2px rgb(184, 183, 183);
    transform:translateY(-5px);
    transition: 0.2s ease-in-out;
}
.product-box .box img{
    width: 175px;
    height: 60%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.product-box .box p{
    color: rgb(253, 152, 29);
    background-color:rgb(255, 227, 193) ;
    width: fit-content;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 8px;
}
.prod-info-box{
    padding-left: 10px;
    padding-right: 10px;
}
.prod-info-box  span{
    color: rgb(94, 92, 92);
    font-size: 14.5px;
}
.prod-info-box h5{
    color: rgb(47, 46, 46);
    font-size: 17px;
}
.prod-info-box  s{
    color: rgb(94, 92, 92);
    font-size: 12px;
}
#items-box button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    font-size: large;
    border: none;
    background-color: rgba(47, 46, 46, 0.768);
    color: white;
    display: none;
    
    
    
}
.previous-btn{
    left: 0;
}
.next-btn{
    right: -0; 

}
#items-box button:hover{
    background-color: rgba(113, 112, 112, 0.926);
    transition: 0.1s;
}
#items-box:hover button{
    display: flex;
    justify-content: center;
}

/* SECOND PRODUCT BOX */
#normal-header{
    background-color: rgb(141, 239, 248);
    
}
#normal-header .image-n-text{
    color: black;
}
#flex-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 16px;
}
#flex-container #mini-box{
    width: 165px;
    height: 150px;
}
#flex-container .box{
    width:auto;
    height: auto; 
    padding: 0;
    box-shadow: none;
}
#flex-container .box:hover{
   box-shadow: 1px 1px 2px 2px rgb(220, 219, 219);
   transition: 0.2s ease-in-out;
   translate: 0px -5px; 
}
#bunch-products{
 flex-wrap: wrap;   
}
#second-list-header{
    background-color: rgb(86, 138, 169);
}
#bunch-products .box{
    width: 173px;
}

#general-info{
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
}
#general-info h1{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 18px;
}
#general-info p{
    font-size: 14px;
    margin-bottom: 10px;
}
#general-info h2{
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 18px;
}
